input[type="text"] {
  padding: 5px;
  border: none;
  background: #dbedff;
  border-bottom: 2px solid #dbedff;
  border-radius: 5px;
  color: black;
  font-size: 18px;
  font-weight: bold;
  transition: 0.3s;
}

input[type="text"]:active,
input[type="text"]:focus {
  outline: none;
}

input[type="text"]:focus {
  border-bottom: 2px solid #1e90ff;
  transition: 0.3s;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label {
  background: none;
  display: inline-block;
  border: 1px solid #1e90ff;
  border-radius: 15px;
  width: 30px;
  height: 30px;
  vertical-align: middle;
  margin-right: 15px;
}

input[type="checkbox"]:checked + label {
  background: url("../../img/galka.jpg") 90% 90% no-repeat;
  background-size: cover;
  background-position: center;
}
