* {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body {
  background-color: #ffffff;
}

.header {
  background-color: #ffffff;
  padding: 50px 20px;
  text-align: center;
}

.header h1 {
  position: relative;
  color: black;
  font-size: 3em;
  padding: 5px 40px;
  font-weight: bold;
  display: inline-block;
  margin: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

p {
  width: max-content;
  padding: 5px;
  color: black;
  font-size: 1.5em;
  font-weight: 600;
}
